.reveal section img {
	border:0;
}

.social-icons {
   margin:0 0 0 0 !important;
   padding: 0; 
}
.social-icons li {
   float: left;
   display: inline;
   list-style: none;
   margin-right: 5px;
   margin-bottom: 5px;
   text-indent: -9999px;
}
.social-icons li a, a.social-icon {
   width: 28px;
   height: 28px;
   display: block;
   background-position: 0 0;
   background-repeat: no-repeat;
   transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
}
.social-icons li:hover a {
   background-position: 0 -38px;
}

.social-icons-color li a {
  opacity: 0.7;
  background-position:0 -38px !important;
}

.social-icons-color li a:hover {
  opacity: 1;
}

.social_github {background: url(../img/icons/github.png) no-repeat;}
.social_douban {background: url(../img/icons/douban.png) no-repeat;}
.social_weibo {background: url(../img/icons/weibo.png) no-repeat;}
.social_googleplus {background: url(../img/icons/googleplus.png) no-repeat;}
.social_pintrest {background: url(../img/icons/pintrest.png) no-repeat;}
.social_rss {background: url(../img/icons/rss.png) no-repeat;}
.social_twitter {background: url(../img/icons/twitter.png) no-repeat;}
.social_facebook {background: url(../img/icons/facebook.png) no-repeat;}
