/** {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

html,body {
	/*background: url("../img/light_grey.png");*/
	height:100%;
	margin-bottom: 30px;
}

body {
	font-family:"Hiragino Sans GB", "微软雅黑", "STHeiti", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-content {
	background-color: white;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

#footer {
	background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-inner {
	margin-top: 10px;
}

.flat-blue {
  color:#3498db;
}